
<nav class="navbar sticky-top navbar-expand-md navbar-light dark-green-bg justify-content-center align-items-center text-center rounded-bottom">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a href="/" class="nav-link hover-dark" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link hover-dark">Posts</a></li>      
        <li class="nav-item"><a href="/contact" class="nav-link hover-dark">Contact</a></li>
        <li class="nav-item"><a href="/about" class="nav-link hover-dark">About</a></li>
        <li class="nav-item dark-page rounded"><a href="/new" class="nav-link hover-dark text-light">New Post</a></li>
      </ul>
    </div>
  </nav>