<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
<body class="dark-page" >
    <%- include('partials/navbar.ejs') %>

    <div class="container w-100 h-100">
        <div
            class="row justify-content-center align-items-center g-2"
        >
            <div class="col-md-8">    
                <div class="pricing-header py-3 pt-md-5 pb-md-4 mx-auto text-start">
                <h1 class="display-4 text-light">You can</h1>
                <p class="lead text-light">contact me on my web page below.</p>
                </div>
            </div>
            
        </div>
        
        <div
            class="row justify-content-center align-items-center g-2"
        >
            <div class="card-deck mb-3 text-center col-md-8">
                <div class="card mb-4 box-shadow  dark-green-bg">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"> <br> </h4>
                </div>
                <div class="card-body light-page">
                    <h1 class="card-title pricing-card-title">Mehmet Akif Kara <br><small class="text-secondary text-sm">Web Developer</small></h1>
                    <form action="https://www.mehmetakifkara.com">
                        <button type="submit" class="btn btn-success btn-xl" > Web Site </button>
                    </form>
                </div>
                <div class="card-header dark-brown-bg">
                    <h4 class="my-0 font-weight-normal"> <br></h4>
                </div>
                </div>
            </div> 
        </div>
        

    </div>   
    <%- include('partials/footer') %>
</body>
</html>

